{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 135 %}
    less than 1 minute read
  {% elsif words < 270 %}
    1 minute read
  {% else %}
    {{ words | divided_by:135 }} minute read
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 135 %}
    less than 1 minute read
  {% elsif words < 270 %}
    1 minute read
  {% else %}
    {{ words | divided_by:135 }} minute read
  {% endif %}
{% endif %}
